extends layout
block content
  h1= title
  - let result = [{length:3.00 , weight:4.00, height: 5.00},{length:6.00 , weight:7.00, height: 8.00},{length:9.00 , weight:10.00, height: 11.00}]
  div(class="container-fluid")
  div(class="row")
    each value,index in result
        div(class="col-sm-2" onclick=`buy(${index})`)  #{value.length} -  #{value.weight} - #{value.height} 
  br
  div(class="container-fluid")
    div(class="row")
    - for(var i=0;i<result.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{result[i].length}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }